@config "../tailwind.config.js";
@import "tailwindcss";

:root {
  --primary: #7c3aed;
  --primary-light: #a78bfa;
  --primary-dark: #5b21b6;

  --secondary: #3b82f6;
  --secondary-light: #93c5fd;

  --background: #f8f9fb;
  --card: #ffffff;

  --text: #1f2937;
  --text-light: #6b7280;
}
